*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    height: 100%;
    width: 100%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
img{
    height: 600px;
    width: 1380px;
    opacity: 0.8;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 56px;
    display: flex;
    margin-top: 25px;
    
  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    margin-top: 20px;
    display: flex;
    margin-right: 70px;
  }
  .nav-bar
  {
    margin-left: 100px;
    padding-left: 100px;
    margin-top: 20px;
  }
  a{
    margin-right: 100px;
  }

  button{
 margin-right: 5px;
    height: 40px;
    background-color:#96bb7c;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 70px;
    box-shadow: 10px 10px 20px 1px lightblue;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
  
.main-section{
    height: 600px;
    width: 1380px;
    padding-left: 90px;
}

.main-container
{
    margin-top: 60px;
}
.box{
    float: left;
    width: 20.3%;
    border:  1px solid transparent;
    box-shadow: 10px 10px 20px 1px lightblue;
    margin-right: 5px;
    border: 1px solid transparent;
    margin-top: 70px;
    width: 200px;
    height: 200px;
    margin-right: 100px;
}

hr{
    height: 2px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
    background-color: red;
    padding-left: 20px;
}

.icon{
    margin-right: 20px;
}

.box .icon{
    margin-left:60px ;
    border: 1px solid transparent;
    height: 80;
    width: 80px;
    background-color:white ;
  
}

.box .icon img{

    background-color: #96bb7c;
    height: 80px;
    width: 80px;
}
.box:hover{
    background-color: #96bb7c;
}

p {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);

    font-size: 10pt;
    font-family: Arial, sans-serif;
    

}
.introduction-1{

    margin-top: 100px;
}
.image img{
    display: flex;
    height: 400px;
   width: 400px;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    float: left;
    box-shadow: 10px 10px 20px 1px lightblue;
}

.QULITY{
    height: 600px;
    width: 1380px;
    padding-left: 90px;
}
.main-box{
    padding-left: 544px;
    padding-top: 89px;
}

pre{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-top: px;
}
.btn
{
    margin-top: 10px;
    width: 100px;
}

.container-2{
    margin-top: 60px;
}

.Testimonials{
    height: 600px;
    width: 1380px;
    padding-left: 90px;
    
    
}

.Testimonialsbox .testimage img{
    height: 100px;
   width: 100px;
   padding: auto;
   border-radius: 166px;
   align-items: center;
   
}
.Testimonialsbox{
    float: left;
    margin-left: 200px;
    align-items: center;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 290px;
    border: 1px dotted black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 20px 1px lightblue;
}
.testimage{
    padding-left: 96px;
}
.checked {
    color: orange;
    margin-top: 20px;
    
  }
  .star{
    padding-left: 80px;
  }
  .Testimonials p{
    padding-left: 60px;
  }
  .Testimonials h5, small{
    padding-left: 80px;
    margin-top: 10px;
  }